/* color pallet: #F0C6C6 , #D9B0A9 , #F8D2C2 , #D9A9C1 , #F8C2F8  */
/* THIS BITCH's NAME IS REBECCA*/
*,
*::before *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Open Sans Condensed", helvetica, sans-serif;
  line-height: 1.5rem;
  /* rem is unit for sizing */
}
img {
  width: 100%;
  height: auto;
  display: block;
}
h1 {
  color: lightblue;
  font-size: 3rem;
  line-height: 3rem;
}
h2 {
  color: #f8e0d6;
  background-color: #d9a9c1;
  display: flex;
  margin: 2rem 0 2rem 0;
  padding: 2rem 2rem 2rem 2rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}
p {
  color: #ffede6;
  background-color: #d9b0a9;
  margin: 2rem;
  padding: 1rem;
  width: 150px;
  font-size: 1.25rem;
  /*font-weight:
    letter-spacing;
    word-spacing*/
}
.grouped-p {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.otherpara {
  color: #ffede6;
  margin: 0;
  padding: 15px;
  width: 97.3%;
  background-color: #d9b0a9;
  line-height: 0.5rem;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.2rem;
}
/*section.container {
  display: flex;
  flex-flow: row wrap;
}
section.container a {
  flex-basis: 300px;
  margin: 20px;
  width: 300px;
}*/
footer {
  color: #a0827d;
}
body {
  background-color: #f8e0d6;
  max-width: 1000px;
  margin: 0 auto;
}

.header-nav {
  color: grey;
  background-color: #d9a9c1;
  margin: 1.25rem;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 0.5rem;
  overflow: hidden;
  margin-bottom: 0.5rem;
}
.nav-menu {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 0.75rem;
}
.nav-item {
  flex: 1 0 10%;
  text-align: center;
}
.logo,
.nav-menu {
  padding: 0.8rem;
  background-color: #f8e0d6;
  margin: 1.5rem;
  text-decoration: none;
  flex-wrap: wrap;
  font-weight: bolder;
  letter-spacing: 0.2rem;
}
.logo {
  color: #d9a9c1;
  margin: 0 auto;
  font-size: 2rem;
  line-height: 1rem;
  font-family: "Big Shoulders Inline Display", cursive;
}
.nav-menu a:link {
  color: #d9a9c1;
  text-decoration: none;
}
.nav-menu a:visited {
  color: #8d6f7e;
  text-decoration: none;
}
.nav-menu a:hover {
  /* background-color: #d9a9c1;*/
  color: #d9a9c1;
  text-decoration: none;
  transform: scale(1.1);
  border-bottom: 0.1rem solid #d9a9c1;
  transition: ease-in-out 0.2s;
}
.nav-menu a:active {
  transform: scale(0.9);
}
/* grid gallery styles uwu */
.gallery-page {
  padding: 2rem 1rem 2rem 1rem;
  background-color: ;
}
.gallery-page-game {
  padding: 0rem 1rem 2rem 1rem;
}
.gallery-page-2d {
  justify-content: center;
}
.gallery-auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 0.25rem;
}
.gallery-span {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 200px;
  grid-gap: 0.25rem;
  grid-auto-flow: dense;
}
.gallery-item {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.gallery-img {
  height: 100%;
  object-fit: cover;
}
.gallery-img:hover {
  transform: scale(1.5);
  transition: 0.5s ease-out;
}

/* grid span */

.w-1,
.w-2,
.w-3,
.w-5,
.w-6 {
  grid-column: span 1;
}

.h-1,
.h-2,
.h-3,
.h-4,
.h-5,
.h-6 {
  grid-row: span 1;
}

@media (min-width: 600px) {
  .header-nav {
    line-height: 1.5rem;
  }
  .nav-menu {
    width: 100%;
  }
  nav.item {
    flex: 1 0 10%;
  }
  .w-1 {
    grid-column: span 1;
  }
  .w-2 {
    grid-column: span 2;
  }
  .w-3 {
    grid-column: span 3;
  }
  .w-4 {
    grid-column: span 4;
  }
  .w-5 {
    grid-column: span 5;
  }
  .w-6 {
    grid-column: span 6;
  }
  .h-1 {
    grid-row: span 1;
  }
  .h-2 {
    grid-row: span 2;
  }
  .h-3 {
    grid-row: span 3;
  }
  .h-4 {
    grid-row: span 4;
  }
  .h-5 {
    grid-row: span 5;
  }
  .h-6 {
    grid-row: span;
  }
}

@media (min-width: 900px) {
  .gallery-span {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .header-nav {
    justify-content: space-between;
    padding: 1rem 0;
    margin: 1rem auto 2rem auto;
    line-height: 1rem;
  }
  .nav-item {
    white-space: nowrap;
  }
  .nav.menu {
    width: auto;
  }
  .logo {
    margin: 0 0 0.3rem;
  }
}
