/* color pallet: #F0C6C6 , #D9B0A9 , #F8D2C2 , #D9A9C1 , #F8C2F8  */
/* THIS BITCH's NAME IS REBECCA*/

/*basic styles (rebecca)*/
*,
*::before *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Open Sans Condensed", helvetica, sans-serif;
  line-height: 1.5rem;
  /* rem is unit for sizing */
}
img,
video {
  width: 100%;
  height: auto;
  display: block;
}
h1 {
  color: lightblue;
  font-size: 3rem;
  line-height: 3rem;
}
h2 {
  color: #f8e0d6;
  background-color: #d9a9c1;
  display: flex;
  margin: 2rem 2rem 2rem 2rem;
  padding: 2rem 2rem 2rem 2rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}
p {
  color: #ffede6;
  background-color: #d9b0a9;
  margin: 2rem;
  padding: 1rem;
  font-size: 1.25rem;
  text-align: center;
  /*font-weight:
    letter-spacing;
    word-spacing*/
}
h3 {
  color: #ffede6;
  margin: 0rem;
  padding: 0.2rem;
  font-size: 1.25rem;
  text-align: center;
}
.grouped-p {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.otherpara {
  color: #ffede6;
  margin: 0;
  padding: 15px;
  width: 97.3%;
  background-color: #d9b0a9;
  line-height: 0.5rem;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.2rem;
}
footer {
  color: #a0827d;
}

body {
  background-color: #f8e0d6;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #f8d2c2;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm20 0a7 7 0 1 0 0-14 7 7 0 0 0 0 14zM10 37a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm10-17h20v20H20V20zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14z' fill='%23d9b0a9' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

/* about styles */

.about-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img {
  width: 20rem;
  height: auto;
  padding: 1rem;
  background-color: #d9a9c1;
  margin: 2rem;
}

.about-h2 {
  font-family: "Big Shoulders Inline Display", cursive;
  letter-spacing: 0.5rem;
  font-size: 2rem;
  word-spacing: 1rem;
}

.about-p {
  font-size: 1.5rem;
}

.about-p,
.about-h2 {
  width: 25rem;
  text-align: unset;
  padding: 1rem;
}

.about-text-box {
  display: table;
  align-content: center;
}

/* nav bar styles (Gracie) */

.header-nav {
  color: grey;
  background-color: rgba(217, 169, 193, 0.8);
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  overflow: hidden;
  margin-bottom: 0.5rem;
}
.nav-menu {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 0.75rem;
}
.nav-item {
  flex: 1 0 10%;
  text-align: center;
}
.social-nav-item {
  flex: 1 1 10%;
}
.logo {
  color: #d9a9c1;
  background-color: rgba(248, 210, 194, 0.85);
  margin: 0 auto;
  font-size: 2rem;
  line-height: 1rem;
  font-family: "Big Shoulders Inline Display", cursive;
  padding: 0.5rem;
}
.logo,
.nav-item {
  white-space: nowrap;
}
.nav-menu {
  padding: 0.5rem;
  background-color: rgba(248, 210, 194, 0.85);
  margin: 0.5rem;
  text-decoration: none;
  flex-wrap: wrap;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  text-align: end;
}

.nav-menu a:link {
  color: #d9a9c1;
  text-decoration: none;
}
.nav-menu a:visited {
  color: #8d6f7e;
  text-decoration: none;
}
.nav-menu a:hover {
  /* background-color: #F8D2C2;*/
  color: #d9a9c1;
  text-decoration: none;
  transform: scale(1.1);
  border-bottom: 0.1rem solid #d9a9c1;
  transition: ease-in-out 0.2s;
}
.nav-menu a:active {
  transform: scale(0.9);
}
/* hero navbar changes (barbara) */

.hero-nav {
  background: none;
  grid-column: 1/-1;
  grid-row: 1/-1;
  align-content: top;
  z-index: 10;
}

.hero-nav,
.logo a,
.hero-nav .nav-menu a {
  color: #f8c2f8;
}

.hero-nav,
.nav-menu a:hover {
  border-bottom: 1px solid #f8d2c2;
}

.hero-nav .nav-menu a {
  border-bottom: 1px solid rgba (0, 0, 0, 0);
}

.hero-nav-item {
  background: none;
}

.hero-nav-menu {
  background: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

/*homepage hero*/

.hero-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0;
  align-content: center;
  justify-content: center;
  align-items: start;
  height: 100%;
}

.hero-image-box {
  height: 100vh;
  max-width: 100%;
  display: cover;
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.hero-image-box::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text-box {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  align-self: center;
  z-index: 10;
  text-align: center;
  background: none;
}

.hero-heading {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  transform: lowercase;
  color: #f8c2f8;
  background: none;
  line-height: 1rem;
  margin: 0;
  padding: 1rem;
}

.hero-text {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #f8c2f8;
  background: none;
}

.hero-p {
  margin: 0.5rem;
  padding: 5px;
}

.hero-logo {
  background: none;
  white-space: nowrap;
  font-size: 1.5rem;
  padding-top: 0.5rem;
}

.hero-button {
  display: inline-block;
  padding: 0.75rem 2rem;
  background: none;
  color: #f8c2f8;
  font-size: 1.2rem;
  font-weight: bold;
  border: 3px solid #f8c2f8;
  border-radius: 10px;
}

.hero-button:hover {
  transform: scale(0.95);
  transition: ease-in-out 0.3s;
}

.hero-button:active {
  background: rgba(255, 237, 230, 0.3);
}

/* footer extra nav styles */

.footer-logo {
  white-space: nowrap;
  color: #d9a9c1;
  padding-top: 2rem;
}

.footer-social {
  color: #8d6f7e;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.footer-copywrite {
  text-align: center;
  padding-bottom: 6rem;
  background: none;
  color: #d9a9c1;
}

.footer-social a {
  color: #8d6f7e;
  padding: 0 1rem;
}

/* grid gallery styles uwu */

.gallery-page {
  padding: 2rem 1rem 2rem 1rem;
}
.gallery-page-game {
  padding: 0rem 1rem 2rem 1rem;
}
.gallery-page-2d {
  justify-content: center;
}
.gallery-auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 0.25rem;
}
.gallery-span {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 200px;
  grid-gap: 0.25rem;
  grid-auto-flow: dense;
}
.gallery-item {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.gallery-img {
  height: 100%;
  object-fit: cover;
}
.gallery-img:hover {
  transform: scale(1.5);
  transition: 0.5s ease-out;
}

/* grid span */

.w-1,
.w-2,
.w-3,
.w-5,
.w-6 {
  grid-column: span 1;
}

.h-1,
.h-2,
.h-3,
.h-4,
.h-5,
.h-6 {
  grid-row: span 1;
}

@media (min-width: 600px) {
  .header-nav {
    line-height: 1.5rem;
  }
  .hero-nav {
    padding-bottom: 1rem;
  }

  .hero-heading {
    font-size: 3rem;
    line-height: 3rem;
  }
  .hero-text {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .hero-text-box {
    padding: 2rem;
  }

  .footer-nav {
    padding-top: 2rem;
  }

  .footer-logo {
    flex-basis: 100%;
    color: #d9a9c1;
  }
  .nav-menu {
    width: 100%;
    padding: 0.5rem;
  }
  nav.item {
    flex: 1 1;
    justify-content: space-around;
  }
  .nav-bar {
    width: 100%;
  }

  .w-1 {
    grid-column: span 1;
  }
  .w-2 {
    grid-column: span 2;
  }
  .w-3 {
    grid-column: span 3;
  }
  .w-4 {
    grid-column: span 4;
  }
  .w-5 {
    grid-column: span 5;
  }
  .w-6 {
    grid-column: span 6;
  }
  .h-1 {
    grid-row: span 1;
  }
  .h-2 {
    grid-row: span 2;
  }
  .h-3 {
    grid-row: span 3;
  }
  .h-4 {
    grid-row: span 4;
  }
  .h-5 {
    grid-row: span 5;
  }
  .h-6 {
    grid-row: span;
  }
}

@media (min-width: 920px) {
  body {
    max-width: 1400px;
  }

  .hero-body {
    max-width: unset;
  }
  .gallery-span {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .nav-bar {
    justify-content: space-between;
    padding: 1rem 0;
    margin: 0rem auto 1rem auto;
    line-height: 1rem;
  }

  .header-nav {
    justify-content: space-between;
    padding: 1rem 0;
    margin: 1rem auto 1rem auto;
    line-height: 1rem;
  }
  .hero-heading {
    font-size: 2rem;
    line-height: 2rem;
  }
  .hero-text {
    font-size: 1rem;
    line-height: 1rem;
  }
  .hero-nav {
    width: 100%;
  }

  .footer-nav {
    justify-content: space-evenly;
  }
  .nav-item {
    white-space: nowrap;
  }
  .nav.menu {
    width: auto;
    justify-self: end;
  }
  .logo {
    justify-self: center;
    margin: 0.5rem;
    display: flex;
  }
}
